$colors :(
brown:#967d4e,
grid:#35424a,
white:#f4f4f4,
grid-light:#e6e6e6
);
@function color($color-name)
{
    @return map-get($colors,$color-name);
}
* {
    box-sizing: border-box;
}
$width:8.33%;

.col-1{ width: $width}
.col-2{ width: $width*2}
.col-3{ width: $width*3}
.col-4{ width: $width*4}
.col-5{ width: $width*5}
.col-6{ width: $width*6}
.col-7{ width: $width*7}
.col-8{ width: $width*8}
.col-9{ width: $width*9}
.col-10{ width: $width*10}
.col-11{ width: $width*11}
.col-12{ width: 100%}
[class*="col-"] {
    float: left;
    }
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
          width: 100%;
        }
      }
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
.submit {
    background-color: color(brown);
    color: color(white);
}
.active {
    color: color(brown);
}
body
{
    header
    {     
     
        width: 100%;
        font-family: sans-serif;
       border-bottom:3px solid color(brown);
     
       ul {
        margin: 0;
        background-color: color(grid);
         
           list-style-type: none;
           overflow: hidden;
          
            color: color(white);
        
           li {
            h2 {
                float: left;
                margin-left: 10%;
                text-transform: capitalize;
                span {
                    color: color(brown);
                }
            }
            
               a {
                   
                float: right;
                margin-right: 5%;
                   padding: 25px 5px 20px 5px;
                   display: block;
                   text-decoration: none;
                   text-transform: uppercase;
                   color: color(white);
               }
             a:hover {color: color(brown);}
           }
       }
    }
    
    section#section1{
        background-image: url("../../images/showcase.jpg");
        background-repeat: no-repeat;
        height: 20em;
       background-size: cover;
        background-position: left bottom;
        position: relative;
        text-align: center;
        margin: 0;

        div {
         
            h1 {
                color: color(white);
                text-transform: capitalize;
                font-family: sans-serif;
                margin-top: 10%;
            }
            p {
                color: color(white);
                font-family: sans-serif;
            }
        }
    
    }
    section#section2
    {
        background-color: color(grid);
        width: 100%;
       
        margin: 0;
        h3 {
            float: left;
            font-family: sans-serif;
            color: color(white);
            margin-left: 14%;
            margin-top: 2.5%;
            
        
        }
        div {
            float: right;
            margin-right: -2%;
          
          padding: 24px;
            input {
                float: left;
                padding: 12px 20px;
                margin: 8px 0;

                border: 1px solid #ccc;
                border-radius: 4px;
            }
            input[type=submit]
            {
                margin-left: 2px;
            } 
        }
       
    }
    section#section3{
        width: 100%;
        margin: auto;
        padding: 10px;
        article{
        text-align: center;
        img{
        width: 100px;
        }
        }
        }
        section#section4 {
            font-family: sans-serif;
            font-size: 15px;
          margin-left: 10%;
          margin-right: 10%;
            h4 {text-transform: capitalize;}
            p#p2 {
                background-color: color(grid);
                color: color(white);
                padding: 15px;
            }
        }
        article#article {
            background-color: color(grid);
            color: color(white);
            padding: 6px 5px 10px 5px;
           margin-top: 5%;
            h4 {
                text-transform: capitalize;
            }
        }
        article#article1 {
            padding: 5px 3px 5px 3px;
            margin-top: 5%;
            background-color: color(grid);
            font-family: sans-serif;
            color: color(white);
          div {
              margin-left: 8%;
              margin-bottom: 5%;
          }
            input,textarea  {
                width: 90%;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 12px 20px;
                 margin: 8px 0;
            }
            input[type=submit] {
                width: 20%;
            }
            

        }
        section#section5 {
            margin-left: 10%;
                margin-right: 5%;
            h4 {
                text-transform: capitalize;
            }
            div {
                background-color: color(grid-light);
                margin-top: 1%;
                padding: 10px;
                border-radius: 2px;
                
                
            }
        }
        footer {
            background-color: color(brown);
           height: 60px;
            h5  {
                color: color(white);
                text-align: center;
                padding: 20px;
            }
        }
    }
    
    


