* {
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.99%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 100%;
}

[class*=col-] {
  float: left;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*=col-] {
    width: 100%;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.submit {
  background-color: #967d4e;
  color: #f4f4f4;
}

.active {
  color: #967d4e;
}

body header {
  width: 100%;
  font-family: sans-serif;
  border-bottom: 3px solid #967d4e;
}
body header ul {
  margin: 0;
  background-color: #35424a;
  list-style-type: none;
  overflow: hidden;
  color: #f4f4f4;
}
body header ul li h2 {
  float: left;
  margin-left: 10%;
  text-transform: capitalize;
}
body header ul li h2 span {
  color: #967d4e;
}
body header ul li a {
  float: right;
  margin-right: 5%;
  padding: 25px 5px 20px 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}
body header ul li a:hover {
  color: #967d4e;
}
body section#section1 {
  background-image: url("../../images/showcase.jpg");
  background-repeat: no-repeat;
  height: 20em;
  background-size: cover;
  background-position: left bottom;
  position: relative;
  text-align: center;
  margin: 0;
}
body section#section1 div h1 {
  color: #f4f4f4;
  text-transform: capitalize;
  font-family: sans-serif;
  margin-top: 10%;
}
body section#section1 div p {
  color: #f4f4f4;
  font-family: sans-serif;
}
body section#section2 {
  background-color: #35424a;
  width: 100%;
  margin: 0;
}
body section#section2 h3 {
  float: left;
  font-family: sans-serif;
  color: #f4f4f4;
  margin-left: 14%;
  margin-top: 2.5%;
}
body section#section2 div {
  float: right;
  margin-right: -2%;
  padding: 24px;
}
body section#section2 div input {
  float: left;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body section#section2 div input[type=submit] {
  margin-left: 2px;
}
body section#section3 {
  width: 100%;
  margin: auto;
  padding: 10px;
}
body section#section3 article {
  text-align: center;
}
body section#section3 article img {
  width: 100px;
}
body section#section4 {
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
body section#section4 h4 {
  text-transform: capitalize;
}
body section#section4 p#p2 {
  background-color: #35424a;
  color: #f4f4f4;
  padding: 15px;
}
body article#article {
  background-color: #35424a;
  color: #f4f4f4;
  padding: 6px 5px 10px 5px;
  margin-top: 5%;
}
body article#article h4 {
  text-transform: capitalize;
}
body article#article1 {
  padding: 5px 3px 5px 3px;
  margin-top: 5%;
  background-color: #35424a;
  font-family: sans-serif;
  color: #f4f4f4;
}
body article#article1 div {
  margin-left: 8%;
  margin-bottom: 5%;
}
body article#article1 input, body article#article1 textarea {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
}
body article#article1 input[type=submit] {
  width: 20%;
}
body section#section5 {
  margin-left: 10%;
  margin-right: 5%;
}
body section#section5 h4 {
  text-transform: capitalize;
}
body section#section5 div {
  background-color: #e6e6e6;
  margin-top: 1%;
  padding: 10px;
  border-radius: 2px;
}
body footer {
  background-color: #967d4e;
  height: 60px;
}
body footer h5 {
  color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
